<form ng-submit="$ctrl.submitForm()">
    <fieldset ng-disabled="$ctrl.isSubmitting">

      <fieldset class="form-group" >
        <input class="form-control form-control-lg"
          type="text"
          placeholder="Slug"
          ng-model="$ctrl.formData.filmSlug" />
      </fieldset>
      
      <fieldset class="form-group">
        <input class="form-control form-control-lg"
          type="text"
          placeholder="title"
          ng-model="$ctrl.formData.filmTitle" />
      </fieldset>
    
      <fieldset class="form-group">
        <input class="form-control form-control-lg"
          type="number"
          placeholder="money"
          ng-model="$ctrl.formData.money" />
      </fieldset>

      <fieldset class="form-group">
        <input class="form-control form-control-lg"
          type="number"
          placeholder="date"
          ng-model="$ctrl.formData.year" />
      </fieldset>

      <fieldset class="form-group">
        <input class="form-control form-control-lg"
          type="text"
          placeholder="director"
          ng-model="$ctrl.formData.director" />
      </fieldset>

      <button class="btn btn-lg btn-primary pull-xs-right"
        type="submit"
       >enviar
      </button>

    </fieldset>
  </form>