<form ng-submit="$ctrl.submitForm()">
    <fieldset ng-disabled="$ctrl.isSubmitting">

      <fieldset class="form-group" ng-show="$ctrl.authType === 'register'">
        <input class="form-control form-control-lg"
          type="text"
          placeholder="Username"
          ng-model="$ctrl.formData.username" />
      </fieldset>

      <fieldset class="form-group">
        <input class="form-control form-control-lg"
          type="email"
          placeholder="Email"
          ng-model="$ctrl.formData.email" />
      </fieldset>

      <fieldset class="form-group">
        <input class="form-control form-control-lg"
          type="password"
          placeholder="Password"
          ng-model="$ctrl.formData.password" />
      </fieldset>

      <button class="btn btn-lg btn-primary pull-xs-right"
        type="submit"
        ng-bind="::$ctrl.title">
      </button>

    </fieldset>
  </form>