<h1>component</h1>
<table>
<ul ng-repeat="author in authors">
    <li class="nav-item">
        <a ui-sref="app.profile({username : author._id , author: true})" class="nav-link active">
          <i class="ion-pound"></i> {{author.username}}
        </a>
      
    
      </li>
    </ul>

</table>

<!-- <h2>{{authors}}</h2> -->