<ul ng-repeat="film in films">
    <li class="nav-item">
        <a ui-sref="app.details({id : film._id})" class="nav-link active">
          <i class="ion-pound"></i> {{film.slug}}
        </a>
      
    
      </li>
    </ul>