<div class="profile-page">

    <!-- User's basic info & action buttons -->
    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
  
            <img ng-src="{{User.image}}" class="user-img" />
            <h4 ng-bind="User.username"></h4>
            <p ng-bind="User.bio"></p>
  
            <a ui-sref="app.my_settings"
              class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-gear-a"></i> Edit Profile Settings
            </a>
  
            <follow-btn user="author"></follow-btn>
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- Container where User's posts & favs are list w/ toggle tabs -->
    <div show-authed="true" class="container">
      <div class="row">
  
        <div class="col-xs-12 col-md-10 offset-md-1">
  
          <!-- Tabs for switching between author articles & favorites -->
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
  
              <li class="nav-item">
                <a class="nav-link active"
                  ui-sref-active="active"
                  ui-sref="app.profile.myFilm">
                  My Films
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link"
                  ui-sref-active="active"
                  ui-sref="app.profile.films({username: $ctrl.profile.username})">
                  Favorited Films
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  ui-sref-active="active"
                  ui-sref="app.profile.authors">
                  My followed Authors
                </a>
              </li>
  
            </ul>
          </div>
  
          <!-- List of articles -->
          <div ui-view></div>
  
  
        </div>
  
      <!-- End row & container divs -->
      </div>
    </div>
  
  </div>