<h1>list component</h1>
<ul ng-repeat="film in films">
<li class="nav-item">
    <a ui-sref="app.details({id : film._id})" class="nav-link active">
      <i class="ion-pound"></i> {{film.slug}}
    </a>
    <br>
   
    <!-- <a  ui-sref="app.profile.favorite({filmid: fil.id, filmslug: film.slug})" class="nav-link active" value="fav">Favorite</a> -->

  </li>
</ul>